:root {
   --primary-background: #1D1D1D;
   --secondary-background: #262626;

   --primary-white: #FFF;
   --primary-black: #2D2D2D;
   --primary-red: #FA7272;
   --secondary-red: #e05f5f;

   --hover-background: #2F2F2F;

   --border-color: #4D4D4D;
   --border-radius: 12px;
}

